In [1]:
import pandas as pd

# The Citibike data includes:

Trip Duration (seconds), Start Time and Date, Stop Time and Date, Start Station Name, End Station Name, Station ID,
Station Lat/Long, Bike ID, User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member), 
Gender (Zero=unknown; 1=male; 2=female), Year of Birth

In [39]:
Jun18 = pd.read_csv("./Citibike_Tripdata/JC-201806-citibike-tripdata.csv")
Jul18 = pd.read_csv("./Citibike_Tripdata/JC-201807-citibike-tripdata.csv")
Aug18 = pd.read_csv("./Citibike_Tripdata/JC-201808-citibike-tripdata.csv")
Sep18 = pd.read_csv("./Citibike_Tripdata/JC-201809-citibike-tripdata.csv")
Oct18 = pd.read_csv("./Citibike_Tripdata/JC-201810-citibike-tripdata.csv")
Nov18 = pd.read_csv("./Citibike_Tripdata/JC-201811-citibike-tripdata.csv")
Dec18 = pd.read_csv("./Citibike_Tripdata/JC-201812-citibike-tripdata.csv")
Dec18.count()

tripduration               20205
starttime                  20205
stoptime                   20205
start station id           20205
start station name         20205
start station latitude     20205
start station longitude    20205
end station id             20205
end station name           20205
end station latitude       20205
end station longitude      20205
bikeid                     20205
usertype                   20205
birth year                 20205
gender                     20205
dtype: int64

In [44]:
Jan19 = pd.read_csv("./Citibike_Tripdata/JC-201901-citibike-tripdata.csv")
Feb19 = pd.read_csv("./Citibike_Tripdata/JC-201902-citibike-tripdata.csv")
Mar19 = pd.read_csv("./Citibike_Tripdata/JC-201903-citibike-tripdata.csv")
Apr19 = pd.read_csv("./Citibike_Tripdata/JC-201904-citibike-tripdata.csv")
May19 = pd.read_csv("./Citibike_Tripdata/JC-201905-citibike-tripdata.csv")
May19.count()

tripduration               36135
starttime                  36135
stoptime                   36135
start station id           36135
start station name         36135
start station latitude     36135
start station longitude    36135
end station id             36135
end station name           36135
end station latitude       36135
end station longitude      36135
bikeid                     36135
usertype                   36135
birth year                 36135
gender                     36135
dtype: int64

In [24]:
last12months = pd.concat([Jun18,Jul18,Aug18,Sep18,Oct18,Nov18,Dec18,Jan19,Feb19,Mar19,Apr19,May19])

In [26]:
last12months.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [29]:
last12months.to_csv("./last12months_data.csv", sep=',')